body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: blue;
    overflow: hidden;
}

    .navbar a {
        float: left;
        display: block;
        color: blue;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

h1, p {
    margin: 20px;
}
h1 {
    color: #333;
    margin-top: 20px;
    text-align: center;
}

/* Style the paragraphs */
p {
    color: #666;
    padding: 10px;
    text-align: center;
}

.membership-info {
    color: green;
    font-size: 18px;
}

.error-message {
    color: red;
    font-size: 16px;
}

.info-message {
    color: blue;
    font-size: 16px;
}
