@page
@model OAuthAuthorizationModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DISC</h1>
    <p>Please Login <a href="https://www.bungie.net/en/OAuth/Authorize">here</a>.</p>
</div>
