@page
@model OAuthAuthorizationModel
@{
    Layout = "_Layout";
}

<script>
    function redirectToOAuth() {
        var authorizationUrl = '@Model.AuthorizationUrl';
        window.location.href = authorizationUrl;
    }
</script>

<button onclick="redirectToOAuth()">Login with OAuth</button>
